In [3]:
from mrbs_crawler import get_mrbs_data
from datetime import date

get_mrbs_data(start_date=date(2023, 8, 6), end_date=date(2023, 8, 12), mrbs_endpoint="main.lcs.poli.usp.br")

2023-08-06
2023-08-07
2023-08-08
2023-08-09
2023-08-10
2023-08-11

        code   room start_time end_time        date day_of_week
0    PSI3211  B2-05      07:30    09:00  2023-08-07      Monday
1    PSI3442  B2-09      07:30    09:00  2023-08-07      Monday
2    PEA3405  B2-10      07:30    08:20  2023-08-07      Monday
3    PEA3406  B2-12      07:30    08:20  2023-08-07      Monday
4    0323100  D1-04      08:20    10:50  2023-08-07      Monday
..       ...    ...        ...      ...         ...         ...
196  PCS3115  GD-06      13:10    14:40  2023-08-11      Friday
197  PTC3572  A2-44      14:00    17:30  2023-08-11      Friday
198  PCS3446  B2-05      14:00    15:30  2023-08-11      Friday
199  PEA3100  B2-06      15:00    16:30  2023-08-11      Friday
200  PEA5730  B2-09      17:00    19:50  2023-08-11      Friday

[201 rows x 6 columns]